NODE_ENV="dev"

# Banco de dados
DATABASE_URL="postgresql://usuario:senha@localhost:5432/harmonia"

NEXT_PUBLIC_API_URL='http://localhost:3000'

# Redis (para filas)

# LOCALHOST
REDIS_HOST="localhost"
REDIS_PORT="6379"

# PROD
# REDIS_HOST="redis-12345.cloud.redislabs.com"
# REDIS_USERNAME="default"
# REDIS_PASSWORD="your-redis-password"
# REDIS_PORT="6379"

BULL_CONCURRENCY="5"

# Servidor
PORT="3000"

# Spotify OAuth
SPOTIFY_CLIENT_ID="your-spotify-client-id"
SPOTIFY_CLIENT_SECRET="your-spotify-client-secret"
SPOTIFY_REDIRECT_URI="http://localhost:3000/api/auth/spotify/callback"

# Google OAuth
GOOGLE_CLIENT_ID="your-google-client-id.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
GOOGLE_REDIRECT_URI="http://localhost:3000/api/auth/google/callback"

GOOGLE_YOUTUBE_API_KEY="your-youtube-api-key"


JWT_SECRET="your-super-secret-jwt-key-change-this-in-production"

AES_SECRET="your-32-character-aes-secret-key"

NODEMAILER_EMAIL="seu-email@gmail.com"
NODEMAILER_PASSWORD="sua-senha-de-app-do-gmail"